<!DOCTYPE html>
<html>
<head>

${include('cwd:views/header.html')}

</head>
<body>

${include('cwd:views/navigation.html')}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      ${m(`## Ethereum Linked Data Browser
This is an Ethereum Linked Data Browser. It can be used as a block explorer because EthOn based Ethereum data forms a graph with all of the data contained in the Ethereum Blockchain.

### Starting points
  - Start at a block: [Block 6,607,949](Block_6607949)
  - See the details of a transaction: [Tx with hash 0xb22730a30d93de87887654d6659b12bf520a5d074c078c86614d35df0189e68b](Tx_0xb22730a30d93de87887654d6659b12bf520a5d074c078c86614d35df0189e68b)
  - Look at a [log which is also a token transfer](LogEntry_0xc0bea6abc2aeb49131a8b0f1c5edd8de3d1ef1231b3ac56f47f16164d0d11998_0)

### Direct navigation
You can directly navigation to Ethereum ressources.
  - Blocks: Block_ + block number
  - Tx: Tx_ + Tx hash

All Ethereum artifacts have such predictable URIs. Just browse a bit to get to know them.
      `)}
    </div>
  </div>

${include('cwd:views/footer.html')}

</div>

</body>
</html>
